# Configurações de Banco de Dados
DATABASE_URL=postgres://usuariodb:senhadb@evo-postgres:5432/kentdelivery
DB_USER=usuariodb
DB_PASSWORD=senhadb
DB_PORT=5432

# Configurações do Redis
REDIS_PORT=6379
REDIS_PASSWORD=senha_redis

# Configuração da API do WhatsApp
WHATSAPP_API_KEY=sua_chave_api_aqui
WHATSAPP_INSTANCE_NAME=kent-delivery

# Configurações da Aplicação
NODE_ENV=production
PORT=3000